#a {
  text-align: center;
  background-image: url("../img//landing.jpg");
  background-size: cover;
  background-image: fixed;
  background-position: center;
  padding-bottom: 20px;
}

<style type='text/css'>

#b {
  padding-top: 85px;
  padding-bottom: 85px;
}

.happy{
  padding-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  color: white;
}



#breakfast {
  background-image: url("../img/breakfast.jpg");
  background-position: center;
  background-size: cover;
  padding-top:  85px;
  padding-bottom: 85px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
#lunch {
  background-image: url("../img/lunch.jpg");
  background-size: cover;
  text-align: center;
  padding-top:  85px;
  padding-bottom: 85px;
  font-size: 20px;
  color: #ffffff;}
#dinner {
  background-image: url("../img/dinner.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 85px;
  padding-bottom: 85px;
  font-size: 20px;
  color: #ffffff;
}

.wee{
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}

.you{
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
}
.line{
line-height: 200%;
}

#ok{
  background-color: #D0D0D0;
}

.no{
  background-color: #FF0000;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}

#e{
  background-image: url("../img/foodsBg.jpg");
padding right: 100px;
}

.button1{
  font-size: 14px 40px;
  padding: 14px 40px;
  border-radius: 2px;
  background-color: white;
  color: black;
  border: 2px solid #F15A29;
  float: left;
}

#yes{
  background-color: white;
  margin-top:50px;
  margi-bottom:50px;
  margin-right: 80px;
  margin-left: 100px;
  padding: 20px;
}



.pizza{
  color: white;
}

.customer{
  background-image: url("../img/subscribe.jpg");
  padding-bottom:270px;
}


.orange{
  color: #ff2500;
}
#forget{
  border-color: #ffa500;
  padding-bottom: 40px;
  padding-left: 10px;
    }

    .text{
      color: white;
    }

    #forget{
      box-shadow: 0px 0px 10px;
    }
    .formButton{
    color: white;
    background-color: #F15a29;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    }
    .mail{
text-align: center;
   }

   .drinks{
     box-shadow: 0px 0px 10px;
   }

   .food{
     box-shadow: 0px 0px 10px;
   }

   #reddit{
    background-color: #F15a29;
    padding-top:70px;
      }

      #di{
      color: white;
      font-size: 40px;
      position: relative;
      top: 10px;}

      #wknd{
color: white;
font-size: 15px;
      }
h1{
  font-size: 35px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
</style>
